// https://gwfh.mranftl.com/fonts/roboto?subsets=latin

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("/fonts/roboto-v30-latin-regular.woff")
      format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/roboto-v30-latin-italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("/fonts/roboto-v30-latin-italic.woff")
      format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("/fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/roboto-v30-latin-500italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("/fonts/roboto-v30-latin-500italic.woff")
      format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("/fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/roboto-v30-latin-700italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("/fonts/roboto-v30-latin-700italic.woff")
      format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$font-stack: "Roboto", sans-serif;

$greyLight: rgb(24, 27, 31);
$greyDark: rgb(17, 18, 23);

$fontWhite: rgb(204, 204, 220); // for icons too
$fontBlue: rgb(110, 159, 255);

$greyBorder: rgba(204, 204, 220, 0.15);
$greyIcon: rgba(204, 204, 220, 0.65); // unselected icon

$lineGreen: rgb(115, 191, 105);
$lineYellow: rgb(242, 204, 12);
$lineBlue: rgb(138, 184, 255);
$lineOrange: rgb(255, 120, 10);
$lineRed: rgb(242, 73, 92);
$linePurple: rgb(184, 119, 217);
$lineBlueDark: rgb(20, 58, 114);

body {
  background-color: $greyDark; // so you don't get flashbanged during loading
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  overflow-x: hidden;

  height: 100vh;
  overflow-y: hidden;

  font-family: $font-stack;
  color: $fontWhite;
  background-color: $greyDark;
}

.app {
  display: flex;
  flex-direction: column;
}

%button-standard {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;

  color: $fontWhite;
  font-family: $font-stack;

  // no text wrapping, instead wrap the whole button to new line
  width: fit-content;
  white-space: nowrap;
}
%button-standard:hover {
  filter: brightness(1.3);
}
%button-standard:active {
  color: $fontBlue !important;
}

%button-underline {
  border-bottom: 2px solid transparent; // prevent buttons from bouncing up and down when mousing over
}
%button-underline:hover {
  border-bottom: 2px solid $fontWhite;
}
%button-underline:active {
  border-bottom: 2px solid $fontBlue !important;
}

input {
  font-family: $font-stack;
  border: none;
  outline: none;
}

ol {
  list-style-type: none;
}

.hidden {
  display: none !important;
}

.chartDiv {
  position: relative; // to anchor canvas element somewhere and make scrolling possible

  background-color: $greyLight;
  border: 1px solid $greyBorder;
  border-radius: 3px;
}
canvas {
  position: absolute;

  // Responsive charts and shrinking 101:
  // 1) Using width: 100% !important; on canvas element allowed shrinking horizontally,
  //    but that caused the chart to not respect it's parent's heigh and the chart expanded too much vertically.
  // 2) Using overflow: auto; on chart's container (or in some cases the container's container lol) also allowed horizontal shrinking
  //    without any weird vertical expanding.
  // 3) Using position: absolute; makes both horizontal and vertical shrinking possible without any side effects (?).
  //    (If this doesn't work, try absolute div container from issue #614)
  //
  // https://github.com/jtblin/angular-chart.js/issues/614
  // https://github.com/chartjs/Chart.js/issues/9001
}

// scrollbar

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}
* {
  // firefox only
  scrollbar-color: rgb(170, 170, 170) transparent;
}

//

nav {
  flex: 0 1 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  padding: 16px;

  a {
    @extend %button-standard;
    @extend %button-underline;
    font-size: 1.1rem;
  }

  a.selected {
    color: white;
    border-bottom: 2px solid white;
  }
}

main > * {
  padding-bottom: 16px;
}

main {
  flex: 1 1 auto;

  display: flex;
  padding: 0 16px;

  min-height: 1px; // this allows you to enable scrolling in child elements

  .overviewTab {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    gap: 8px;

    .dashboard {
      flex: 0 1 auto;

      display: flex;
      flex-wrap: wrap;

      gap: 8px;

      .widget {
        flex: 1 1 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px;

        background-color: $greyLight;
        border: 1px solid $greyBorder;
        border-radius: 3px;

        h3 {
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 500;
        }

        p {
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }

    .charts {
      flex: 1 1 auto;

      display: grid;
      grid-template-columns: 1fr 0.6fr;
      grid-template-rows: 1fr;
      gap: 8px;
    }
  }

  .historyTab {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    gap: 4px;

    .historyControls {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 4px;

      .monthSelection {
        display: flex;
        align-items: center;

        p {
          margin-left: 1rem;
        }
        select {
          padding: 7px;

          background-color: $greyLight;

          color: $fontWhite;
          font-family: $font-stack;

          border: 1px solid $greyBorder;
          border-radius: 2px;
        }
      }

      button {
        @extend %button-standard;

        padding: 8px;

        background-color: $greyLight;

        border: 1px solid $greyBorder;
        border-radius: 2px;
      }
    }

    .chartDiv {
      flex: 1 1 auto;
    }

    button.csv {
      margin-left: auto;

      @extend %button-standard;

      padding: 6px;

      background-color: $greyLight;

      border: 1px solid $greyBorder;
      border-radius: 2px;
    }
  }

  .forecastTab {
    flex: 1 1 auto;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 16px;

    .chartDiv {
      flex: 1 1 auto;
      min-height: 30vh;
    }

    .forecastTable {
      flex: 0 1 auto;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
      gap: 16px;

      .forecastCard {
        height: fit-content;
        padding: 16px;

        background-color: $greyLight;

        border: 1px solid $greyBorder;
        border-radius: 3px;

        h2 {
          margin-bottom: 8px;

          font-weight: 500;
          font-size: 1rem;
        }

        table {
          width: 100%;
          border-collapse: collapse;

          td {
            padding: 2px 0;
            text-align: center;
          }

          tbody {
            tr {
              border-bottom: 1px solid rgb(50, 50, 50);
            }
          }

          td.icon {
            // center the icon
            display: flex;
            justify-content: center;
          }
          .weatherIcon {
            height: 2rem;
          }

          .temperature {
            color: $lineRed;
          }
          .precipitation {
            color: $fontBlue;
          }
        }

        .sunriseSunset {
          display: flex;
          justify-content: space-around;
          padding-top: 16px;

          div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            text-align: center;

            p {
              grid-column: 1 / 3;
            }

            .sunriseIcon {
              height: 2rem;

              // https://codepen.io/sosuke/pen/Pjoqqp
              filter: invert(99%) sepia(1%) saturate(2248%) hue-rotate(162deg) brightness(96%)
                contrast(80%);
            }
          }
        }
      }
    }
  }
}

.offlinePopup {
  position: fixed;
  right: 3%;
  bottom: 3%;

  display: grid;
  grid-template-columns: fit-content(40vw) auto;
  padding: 16px;

  background-color: $greyLight;
  border: 1px solid $greyBorder;
  border-radius: 3px;

  button {
    @extend %button-standard;
  }
}

footer {
  flex: 0 1 auto;

  text-align: center;
  font-size: 0.65rem;

  a {
    text-decoration: none;
    color: $fontBlue;
  }
}

@media screen and (max-width: 1100px) {
  .app {
    overflow-y: auto;
  }

  main {
    .overviewTab {
      .charts {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.6fr;
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .chartDiv {
    min-height: 300px !important; // for mobile landscape mode
  }
}
